/* color corporativo 
		color hsl #6B41CD 
		
*/

/* @import */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|PT+Sans|Patua+One|Raleway|Roboto|Source+Sans+Pro|Titillium+Web|Ubuntu|Varela+Round');

:root {
	/* variables generales de los valores predeterminados */
	--main-bg-color: rgba(189, 17, 242, 0);
	--color-principal: #40CBF8;
	--color-secundario: #6B41CD;
	--color-button: rgb(255, 255, 255);
	--color-button-hover: rgba(255, 255, 255, 0.219);
	--main-fuente: 'Ubuntu', sans-serif;
}

body {
	font-family: var(--main-fuente);
}

/* -------------- CONTENEDOR HERO ---------------- */
/* transparencia al nav-menu */
.navbar-menu {
	background-color: rgba(0, 0, 0, 0);
}

/* div del color degrado */
.background-color-hero {
	background: rgba(190, 17, 242, 0.8);
	background: -moz-linear-gradient(top, rgba(190, 17, 242, 0.8) 0%, rgba(100, 177, 205, 0.8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(190, 17, 242, 0.8)), color-stop(100%, rgba(100, 177, 205, 0.8)));
	background: -webkit-linear-gradient(top, rgba(190, 17, 242, 0.8) 0%, rgba(100, 177, 205, 0.8) 100%);
	background: -o-linear-gradient(top, rgba(190, 17, 242, 0.8) 0%, rgba(100, 177, 205, 0.8) 100%);
	background: -ms-linear-gradient(top, rgba(190, 17, 242, 0.8) 0%, rgba(100, 177, 205, 0.8) 100%);
	background: linear-gradient(to bottom, rgba(190, 17, 242, 0.8) 0%, rgba(100, 177, 205, 0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#be11f2', endColorstr='#64b1cd', GradientType=0);
	border-radius: 0px 0px 601px 0px;
	-moz-border-radius: 0px 0px 601px 0px;
	-webkit-border-radius: 0px 0px 601px 0px;
}

/* div de la imagen de inicio */
.background-img-hero {
	background-image: url(../img/hero.jpeg);
	z-index: -70px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 0px 0px 601px 0px;
	-moz-border-radius: 0px 0px 601px 0px;
	-webkit-border-radius: 0px 0px 601px 0px;
}

.hero {
	height: 600px;
	position: relative;
}

.navbar-light .logo {
	font-size: 2em;
	/* opacity: 0.9; */
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
}

.hero-text h1 {
	font-family: var(--main-fuente);
	font-size: 3em;
}

.hero-text span {
	font-size: 1.5em;
}

/* media query aliniacion del texto hero */


/* botones registro - inicio sesion */
.btn-outline-form {
	color: var(--color-button);
	background-color: transparent;
	background-image: none;
	border-color: var(--color-button);
}

.btn-outline-form:hover {
	color: var(--color-button);
	background-color: var(--color-button-hover);
	background-image: none;
	border-color: var(--color-button-hover);
}

/* fin botones registro - inicio sesion */
/* -------------- FIN CONTENEDOR HERO ---------------- */

/* Border a las card*/

.bord-card {
	border-radius: 25px;
	border: 1px solid #BADA55;
	width: 25rem;

}

.bord-img {
	border-radius: 25px 25px 5px 5px;
	/* top left, top right, bottom right, bottom left */
	border: 2px;
}

/*########################## */

.detalle {
	padding-top: 3em;
}

.detalle .cicler {
	width: 5em;
	height: 5em;
	background-color: var(--color-principal);
}

.detalle .cicler i {
	font-size: 3em;
	color: #fff;
}

/* Clasificacion por estrella  */

#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
}

#form p {
	text-align: center;
}

#form label {
	font-size: 20px;
}

input[type="radio"] {
	display: none;
}

label {
	color: grey;
}

.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
	color: orange;
}

input[type="radio"]:checked~label {
	color: orange;
}

/* publicidad */
.cont-publicidad {
	background: var(--color-principal);
	border: 0px none;
	height: 230px;
}


/* fin publicidad */


/* footer */
.footer {
	background-color: #212733;
	font-family: var(--main-fuente);
	color: #BBBABA;
}

.footer a {
	color: #BBBABA;
	text-decoration: underline;
}

.footer a:hover {
	color: #fff;
}

.footer .fab {
	font-size: 1.5em;
}


/* #######################
			@media query's
*/
@media (max-width: 400px) {
	.hero {
		height: 400px;
	}

	.hero-text {
		top: 40%;
		left: 50%;
		width: 85%;
		height: 200px;
	}

	.hero-text h1 {
		font-size: 2em;
	}

	.hero-text span {
		font-size: 1em;
	}

	.text {
		text-align: center;
	}

	.col-detalle {
		padding-bottom: 50px;
	}

	.phone-img-center {
		padding: auto;
		margin: auto;
	}

	.cont-publicidad {
		height: 400px;
	}

	.cont-publicidad .container {
		padding-top: 15px;
	}

	.font-small p {
		margin-bottom: 0;
	}

	.resumen {
		display: none;
	}
}
	




















































































































		
	}
}

